<style>
      
body {background-image: linear-gradient(yellow, red)}
h1   {color: red}
h1   {padding: 0em 50px 0em 20px;}
h2  {padding: 0em 50px 0em 20px;}
p  {padding: 0em 5px 0em 5px;}

h2    {color: blue}
p {color: black; text-align: justify; font-size: 135%;}
a    {color: red}
aside  {color: black; text-align: justify; font-size: 135%;}
i {font-weight: bold}
body {border: 2px dashed white}
  </style>